{% extends "base_template.html" %}

{%block content%}

<section class="vh-100" style="background-color: #808080;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 0.1rem;">
          <div class="card-body p-5 text-center">

            <div class="card" style="width: 18rem;">
              <a href="/login" class="btn btn-primary">Login</a>
            </div>

            
    <div class="card" style="width: 18rem;">
      <a href="/signup" class="btn btn-primary">Signup</a>
      <p>Not a front end developer :(</p>
    </div>

          

          </div>
        </div>
      </div>
    </div>
  </div>
</section>



{%endblock%}